<phpunit
    beStrictAboutOutputDuringTests="true"
    executionOrder="random"
>
    <testsuite name="all">
        <directory>.</directory>
    </testsuite>
    <coverage processUncoveredFiles="true">
        <include>
            <directory>../src</directory>
        </include>
    </coverage>
</phpunit>
